.page-footer {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $text;
}
.page-footer__link, .page-footer__copy {
  text-align: center;
    opacity: .4;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    display: block;
    margin-top: 0px;
}
@media (min-width: $desktop) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .page-footer {
    padding-bottom: 8px;
  }
}
