@import"global/variables.sass";
@import"global/fonts.sass";
@import"global/global.scss";
@import"global/normalize.sass";

@import"blocks/btn.scss";
@import"blocks/about.scss";
@import"blocks/contacts.scss";
@import"blocks/page-footer.scss";
@import"blocks/page-header.scss";
@import"blocks/intro.scss";
@import"blocks/why.scss";
@import"blocks/work.scss";
@import"blocks/main-nav.scss";
@import"blocks/modal.scss";
